@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Syne:wght@400;600&display=swap');
.heading{
    color: #000;
    line-height: 0px;
    font-family: 'Syne', sans-serif;
}
.heading h3{
    font-size: 50px;
    font-weight: bold;
}
.heading span{
    font-size: 15px;
    font-style: italic;
}


.App {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  margin-bottom: 0;
  margin-top: 3%;
  width: 635px;
  width: 50%;
  height: 430px;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.item {
  width: 50%;
  position: relative;
  background-color: #303030;
 

}
/* .item:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
  } */

 
.header{
  position: fixed;
 
  width: 100%;
  display: flex;

}

.item-image {
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-color: #303030;
  overflow: hidden;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #0d0e0d;
  text-align: left;
}

.item-details__title {
  font-size: 22px;
}

.item-details__amount {
  font-weight: bolder;
}
.Logo{
    writing-mode:vertical-lr;
    font-size: 50px;
    padding-left: 70px;
    padding-top: 100px;
    font-style: italic;
    font-family: 'Syne', sans-serif;
}
.logo{
    font-size: 50px;
    font-style: italic;
}
.logo2{
    font-size: 30px;
    font-style: italic;
}
.invoice{
    margin: 50px auto;
    padding-top: 20px;
    /* line-height: 1px; */
}
.invoice button{
    width:200px;
    margin: auto;
}

.checkout {
    background: #84a17d; /* fallback for old browsers */
    background: rgb(201, 39, 66); /* fallback for old browsers */
    background: rgb(14, 13, 13); /* fallback for old browsers */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430px;
  width: 50%;
}
.div1{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 20px;
    border: 1px solid #e5e5e5;
}
.title{
    width: 40%;
    text-align: left;
    padding-left: 5px;
    border: 1px solid #e5e5e5;
}
.div1 p{
    padding: 3px ;
}
.checkout-form {
  padding: 20px 20px;
}

.checkout-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-field label {
  text-align: left;
  color: #e5e5e5;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.checkout-field input, select {
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: #e5e5e5;
  height: 35px;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #bfbfbf;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 0px;
}

footer{
    background-color: #000;
    text-align: center;
    margin: 0;
    
    
}
footer h4{
    margin-top: 2%;
    padding-top: 10px;
}


@media(max-width:750px){
    .App{
        width: 80%;
    }
    .checkout{
        width: 100%;
        font-size: 12px;
    }
    
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .item {
   display: none;
  }
  .heading{
    line-height:15px;
}
}